main
{
  background-color: rgb(245, 245, 245);
  section{
  margin-right: 10%;
  margin-left: 10%;
  border: $granBorde;
  .Dire{
      margin: 1px;
      border: $borde ;
  }
  p
  {
    font-size: xx-large;
  }
}
}