main
{
  background-color: rgb(245, 245, 245);
  section{
  margin-right: 10%;
  margin-left: 10%;
  border: $granBorde;
  .Dire{
      margin: 1px;
      border: $borde ;
  }
  p
  {
    font-size: xx-large;
  }
  .Info
  {
    div{
      div{
        border: $borde ;
      }
    }
  }
}
.Tablas
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .TablaHijo  
  {
    border: $borde ;
    margin-right:1%;
    margin-left:1%;    
  }
  td{
    padding: $pad;
    border: $borde ;
    align-items: center;
  }
  th{
    @extend td
  }
}
}

@media only screen and (max-width: 500px) 
{ main{
  .Info{
    img{
      width: 100%;
    }
  }
 
  .Tablas {
    display: flex;
    flex-direction: column;
    
}
.TablaHijo {
  
}
}
}