main
{
    #prod{
        .card{
            border: $granBorde;
            margin: 3px;
       
    p{
        font-size: 20px;
    }
    img{
        height: 70%;
        border: $borde ;
    }
}
}
}