
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html
{
    font-family: $fuente;
}
body
{
    margin: 0;
    padding: 0;
}
@import "header.scss";
@import "index.scss";
@import "MP.scss";
@import "footer.scss"