@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html
{
    font-family: $fuente;
}
body
{
    margin: 0;
    padding: 0;
}
@mixin flexbox($display: flex, $direction: row, $justify-content: flex-start, $align-items: center) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    }
@import "header.scss";
@import "index.scss";
@import "productos.scss";
@import "contactanos.scss";
@import "preguntasF.scss";
@import "MP.scss";
@import "footer.scss"